<footer class= "nav-footer-container">
    <div class="nav-footer">
        <div class="footer-logo">
            <div style="display: flex;">
                <i style ="color: var(--darkblue); font-size: 25px;"class="fa fa-book"></i>
                <h2 class="" id="nav-footer-title">QuickFic! </h2>
            </div>
            
            
            </h1>
        </div>
        <nav>
        </nav>
        <div class="footer-socials">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>

    </div>

</footer>
<script src="scripts/navbar.js" ></script>